@font-face {
    font-family: 'Founders Grotesk';
    src: url('../assets/fonts/FoundersGrotesk-LightItalic.eot');
    src: url('../assets/fonts/FoundersGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FoundersGrotesk-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/FoundersGrotesk-LightItalic.woff') format('woff'),
        url('../assets/fonts/FoundersGrotesk-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/FoundersGrotesk-LightItalic.svg#FoundersGrotesk-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../assets/fonts/FoundersGrotesk-Bold.eot');
    src: url('../assets/fonts/FoundersGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FoundersGrotesk-Bold.woff2') format('woff2'),
        url('../assets/fonts/FoundersGrotesk-Bold.woff') format('woff'),
        url('../assets/fonts/FoundersGrotesk-Bold.ttf') format('truetype'),
        url('../assets/fonts/FoundersGrotesk-Bold.svg#FoundersGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../assets/fonts/FoundersGrotesk-Light.eot');
    src: url('../assets/fonts/FoundersGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FoundersGrotesk-Light.woff2') format('woff2'),
        url('../assets/fonts/FoundersGrotesk-Light.woff') format('woff'),
        url('../assets/fonts/FoundersGrotesk-Light.ttf') format('truetype'),
        url('../assets/fonts/FoundersGrotesk-Light.svg#FoundersGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('../assets/fonts/FoundersGrotesk-RegularItalic.eot');
    src: url('../assets/fonts/FoundersGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/FoundersGrotesk-RegularItalic.woff') format('woff'),
        url('../assets/fonts/FoundersGrotesk-RegularItalic.ttf') format('truetype'),
        url('../assets/fonts/FoundersGrotesk-RegularItalic.svg#FoundersGrotesk-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../assets/fonts/FoundersGrotesk-Medium.eot');
    src: url('../assets/fonts/FoundersGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FoundersGrotesk-Medium.woff2') format('woff2'),
        url('../assets/fonts/FoundersGrotesk-Medium.woff') format('woff'),
        url('../assets/fonts/FoundersGrotesk-Medium.ttf') format('truetype'),
        url('../assets/fonts/FoundersGrotesk-Medium.svg#FoundersGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Street Power';
    src: url('../assets/fonts/Street.eot');
    src: url('../assets/fonts/Street.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Street.woff2') format('woff2'),
        url('../assets/fonts/Street.woff') format('woff'),
        url('../assets/fonts/Street.ttf') format('truetype'),
        url('../assets/fonts/Street.svg#Street') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;
$icon-twitter3: "\e903";
$icon-discord: "\e900";
$icon-twitter1: "\e901";
$icon-twitter2: "\e902";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-youtube2: "\ea9e";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1ba8be');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1ba8be#iefix') format('embedded-opentype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1ba8be') format('truetype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1ba8be') format('woff'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1ba8be##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9rjxif');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9rjxif#iefix') format('embedded-opentype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9rjxif') format('truetype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9rjxif') format('woff'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9rjxif##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-twitter3 {
    &:before {
      content: $icon-twitter3;     
      color: #1da1f2;
    }
  }
  .icon-discord {
    &:before {
      content: $icon-discord;     
      color: #7289da;
    }
  }
  .icon-twitter1 {
    &:before {
      content: $icon-twitter1; 
    }
  }
  .icon-twitter2 {
    &:before {
      content: $icon-twitter2; 
    }
  }
  .icon-facebook {
    &:before {
      content: $icon-facebook; 
    }
  }
  .icon-facebook2 {
    &:before {
      content: $icon-facebook2; 
    }
  }
  .icon-twitter {
    &:before {
      content: $icon-twitter; 
    }
  }
  .icon-youtube {
    &:before {
      content: $icon-youtube; 
    }
  }
  .icon-youtube2 {
    &:before {
      content: $icon-youtube2; 
    }
  }
  
  