body{
    background-color: $primary;

    .block {

        &.nav {
            justify-content: end;
            padding-top: 4rem;

            .navigation {
                width: 30%;
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                }
                ul li a {
                    display: block;
                    text-decoration: none;
                    
                    &:hover {
                        i.icon {
                            color: $white;
                        }
                    }
                    
                    i.icon {
                        @include transition-fx;
                        color: $black;
                        font-size: 2rem;
                    }
                }
            }
        }

        &.header {
            position: relative;
            display: flex;
            flex-direction: row;
            margin-top: 4rem;

            .left-part {
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .right-part {
                .content {
                    text-align: center;
                    
                    .content-img {
                        position: relative;

                        .img-trailer {
                            width: 100%;
                            height: 100%;
                            
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                clip-path: polygon(100% 0, 66% 7%, 13% 9%, 0 32%, 0 0);
                                background-color: $quaternary;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                background-color: $quaternary;
                                clip-path: polygon(74% 90%, 100% 69%, 100% 100%, 0 100%, 44% 89%);
                                transform: translate(10%,-2%);
                            }
                        }
        
                        video {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    p {
                        color: $black;
                        text-transform: uppercase;
                        font-family: $font-family-base;

                        &.title {
                            font-size: $font-size-40;
                            font-weight: bold;
                        }

                        &.mentions, &.button {
                            font-size: $font-size-30;
                        }
                    }
                }

            }
        }

        &.img_text {
            margin-top: 11rem;
            padding-bottom: 5rem;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 10rem;
                background-image: url("./../assets/pictures/imageHome.png");
                transform: translateY(-5rem);
            }

            .text {
                padding-top: 8rem;
            }

            p {
                color: $black;

                &.title {
                    font-size: $font-size-40;
                    font-weight: bold;
                }
            }

            .card {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                flex: 1;
                background-color: $primary;
                margin-top: 3rem;

                .left-part, .right-part {
                    border: 4px solid $quaternary;
                    background-color: $quinary;
                    @include transition-fx;
                    width: 45%;

                    &:hover {
                        background-color: $white;
                        cursor: pointer;
                    }

                    .title {
                        font-size: $font-size-30;
                        font-weight: bold;
                    }

                    .content {
                        padding: 2rem 1rem;
                    }

                    img {
                        padding: 2rem;
                    }
                }
            }
        }
    }

    h1 {
        font-family: $font-family-base;
    }
}